In [1]:
import numpy as np
import pandas as pd

In [2]:
mcd = pd.read_csv('McDonalds_Financial_Statements.csv', sep=',')
mcd

,Year,Market cap ($B),Revenue ($B),Earnings ($B),P/E ratio,P/S ratio,P/B ratio,Operating Margin (%),EPS ($),Shares Outstanding ($B),Cash on Hand ($B),Dividend Yield (%),Dividend (stock split adjusted) ($),Net assets ($B),Total assets ($B),Total debt ($B),Total liabilities ($B)
0,2022,193.01,23.18,7.82,31.3,8.33,-32.20,33.76,8.42,0.73,2.58,2.15,5.66,-6.01,50.43,48.03,56.43
1,2021,200.31,23.22,9.12,26.5,8.63,-43.50,39.31,10.11,0.74,4.70,1.96,5.25,-4.61,53.60,48.64,58.20
2,2020,159.88,19.20,6.14,33.8,8.32,-20.40,31.97,6.35,0.74,3.44,2.35,5.04,-7.83,52.62,48.51,60.45
3,2019,147.47,21.28,8.01,24.8,6.93,-18.00,38.04,7.98,0.74,0.89,2.39,4.73,-8.22,47.51,46.87,55.72
4,2018,136.21,21.02,7.81,23.2,6.48,-21.80,37.17,7.65,0.76,0.86,2.36,4.19,-6.26,32.81,31.07,39.06
5,2017,137.21,22.82,8.57,26.7,6.01,-42.00,37.57,6.46,0.79,2.46,2.23,3.83,-3.27,33.80,29.53,37.07
6,2016,101.08,24.62,6.86,22.0,4.11,-45.90,27.89,5.53,0.81,1.22,2.97,3.61,-2.21,31.02,25.95,33.22
7,2015,107.12,25.41,6.55,24.2,4.22,15.10,25.80,4.88,0.90,7.68,2.91,3.44,7.08,37.93,24.12,30.85
8,2014,90.22,27.44,7.37,19.2,3.29,7.02,26.86,4.87,0.96,2.07,3.50,3.28,12.85,34.28,14.98,21.42
9,2013,96.09,28.10,8.20,17.3,3.42,6.00,29.19,5.60,0.99,2.79,3.22,3.12,16.00,36.62,14.12,20.61
10,2012,88.44,27.56,8.07,16.3,3.21,5.78,29.31,5.42,1.00,2.33,3.25,2.87,15.29,35.38,13.63,20.09
11,2011,102.65,27.00,8.01,18.8,3.80,7.13,29.67,5.34,1.02,2.33,2.52,2.53,14.39,32.98,12.50,18.59
12,2010,80.87,24.07,7.00,16.5,3.36,5.53,29.08,4.66,1.05,2.38,2.94,2.26,14.63,31.97,11.50,17.34
13,2009,67.22,22.74,6.48,15.0,2.96,4.79,28.52,4.17,1.10,1.79,3.28,2.05,14.03,30.22,10.57,16.19
14,2008,69.31,23.52,6.15,16.2,2.95,5.18,26.18,3.84,1.11,2.06,2.61,1.62,13.38,28.46,10.21,15.07
15,2007,67.84,22.78,3.57,29.3,2.98,4.44,15.68,2.01,1.18,1.98,2.55,1.50,15.27,29.39,9.30,14.11
16,2006,53.36,20.81,3.88,15.4,2.56,3.45,19.30,2.88,1.23,2.13,2.26,1.00,15.45,29.02,8.43,13.56
17,2005,42.59,20.46,3.70,16.4,2.08,2.81,18.09,2.06,1.25,4.26,1.99,0.67,15.14,29.98,10.14,14.84
18,2004,40.71,19.06,3.20,17.6,2.14,2.87,16.80,1.82,1.25,1.37,1.72,0.55,14.20,27.83,9.21,13.63
19,2003,31.33,17.14,2.34,21.4,1.83,2.62,13.69,1.16,1.27,0.49,1.61,0.40,11.98,25.52,9.73,13.54
20,2002,20.39,15.40,1.66,23.0,1.32,1.98,10.79,0.70,1.27,0.33,1.46,0.24,10.28,23.97,9.97,13.68

21 rows * 17 columns

In [3]:
mcd = mcd.rename(columns={
    'Year': 'year',
    'Market cap ($B)': 'market_cap',
    'Revenue ($B)': 'revenue',
    'Earnings ($B)': 'earnings',
    'P/E ratio' : 'pe',
    'P/S ratio': 'ps',
    'P/B ratio' :'pb',
    'Operating Margin (%)': 'op_margin',
    'EPS ($)' :'eps',
    'Shares Outstanding ($B)': 'shares_out',
    'Cash on Hand ($B)': 'cash',
    'Dividend Yield (%)': 'divident_yield',
    'Dividend (stock split adjusted) ($)': 'divident_after',
    'Net assets ($B)': 'net_assets',
    'Total assets ($B)': 'total_assets',
    'Total debt ($B)': 'total_debt',
    'Total liabilities ($B)' : 'liabilities'
})

In [4]:
mcd

,year,market_cap,revenue,earnings,pe,ps,pb,op_margin,eps,shares_out,cash,divident_yield,divident_after,net_assets,total_assets,total_debt,liabilities
0,2022,193.01,23.18,7.82,31.3,8.33,-32.20,33.76,8.42,0.73,2.58,2.15,5.66,-6.01,50.43,48.03,56.43
1,2021,200.31,23.22,9.12,26.5,8.63,-43.50,39.31,10.11,0.74,4.70,1.96,5.25,-4.61,53.60,48.64,58.20
2,2020,159.88,19.20,6.14,33.8,8.32,-20.40,31.97,6.35,0.74,3.44,2.35,5.04,-7.83,52.62,48.51,60.45
3,2019,147.47,21.28,8.01,24.8,6.93,-18.00,38.04,7.98,0.74,0.89,2.39,4.73,-8.22,47.51,46.87,55.72
4,2018,136.21,21.02,7.81,23.2,6.48,-21.80,37.17,7.65,0.76,0.86,2.36,4.19,-6.26,32.81,31.07,39.06
5,2017,137.21,22.82,8.57,26.7,6.01,-42.00,37.57,6.46,0.79,2.46,2.23,3.83,-3.27,33.80,29.53,37.07
6,2016,101.08,24.62,6.86,22.0,4.11,-45.90,27.89,5.53,0.81,1.22,2.97,3.61,-2.21,31.02,25.95,33.22
7,2015,107.12,25.41,6.55,24.2,4.22,15.10,25.80,4.88,0.90,7.68,2.91,3.44,7.08,37.93,24.12,30.85
8,2014,90.22,27.44,7.37,19.2,3.29,7.02,26.86,4.87,0.96,2.07,3.50,3.28,12.85,34.28,14.98,21.42
9,2013,96.09,28.10,8.20,17.3,3.42,6.00,29.19,5.60,0.99,2.79,3.22,3.12,16.00,36.62,14.12,20.61
10,2012,88.44,27.56,8.07,16.3,3.21,5.78,29.31,5.42,1.00,2.33,3.25,2.87,15.29,35.38,13.63,20.09
11,2011,102.65,27.00,8.01,18.8,3.80,7.13,29.67,5.34,1.02,2.33,2.52,2.53,14.39,32.98,12.50,18.59
12,2010,80.87,24.07,7.00,16.5,3.36,5.53,29.08,4.66,1.05,2.38,2.94,2.26,14.63,31.97,11.50,17.34
13,2009,67.22,22.74,6.48,15.0,2.96,4.79,28.52,4.17,1.10,1.79,3.28,2.05,14.03,30.22,10.57,16.19
14,2008,69.31,23.52,6.15,16.2,2.95,5.18,26.18,3.84,1.11,2.06,2.61,1.62,13.38,28.46,10.21,15.07
15,2007,67.84,22.78,3.57,29.3,2.98,4.44,15.68,2.01,1.18,1.98,2.55,1.50,15.27,29.39,9.30,14.11
16,2006,53.36,20.81,3.88,15.4,2.56,3.45,19.30,2.88,1.23,2.13,2.26,1.00,15.45,29.02,8.43,13.56
17,2005,42.59,20.46,3.70,16.4,2.08,2.81,18.09,2.06,1.25,4.26,1.99,0.67,15.14,29.98,10.14,14.84
18,2004,40.71,19.06,3.20,17.6,2.14,2.87,16.80,1.82,1.25,1.37,1.72,0.55,14.20,27.83,9.21,13.63
19,2003,31.33,17.14,2.34,21.4,1.83,2.62,13.69,1.16,1.27,0.49,1.61,0.40,11.98,25.52,9.73,13.54
20,2002,20.39,15.40,1.66,23.0,1.32,1.98,10.79,0.70,1.27,0.33,1.46,0.24,10.28,23.97,9.97,13.68

### Q1 : Find the year with the highest Market Cap.

In [5]:
mcd.loc[mcd['market_cap'].idxmax(), ['year','market_cap']]

year          2021.00
market_cap     200.31
Name: 1, dtype: float64

### Q2 : Find the year with the lowest Market Cap.

In [6]:
mcd.loc[mcd['market_cap'].idxmin(), ['year','market_cap']]

year          2002.00
market_cap      20.39
Name: 20, dtype: float64

### Q3 : Compute Market Cap year-over-year (YoY) growth % and identify the best and worst YoY years.

In [7]:
mcd['market_cap_g']=mcd['market_cap'].pct_change() * 100

In [8]:
best = mcd.loc[mcd['market_cap_g'].idxmax(), ['year','market_cap_g','market_cap']]
worst = mcd.loc[mcd['market_cap_g'].idxmin(), ['year','market_cap_g','market_cap']]
best,worst

(year            2011.00000
 market_cap_g      16.06739
 market_cap       102.65000
 Name: 11, dtype: float64,
 year            2002.000000
 market_cap_g     -34.918608
 market_cap        20.390000
 Name: 20, dtype: float64)

### Q4 : Compute Revenue YoY growth % and identify the best and worst YoY years.

In [9]:
mcd['revenue_g']=mcd['revenue'].pct_change() * 100
best = mcd.loc[mcd['revenue_g'].idxmax(), ['year','revenue_g','revenue']]
bad = mcd.loc[mcd['revenue_g'].idxmin(), ['year','revenue_g','revenue']]
best,bad

(year         2019.000000
 revenue_g      10.833333
 revenue        21.280000
 Name: 3, dtype: float64,
 year         2020.000000
 revenue_g     -17.312661
 revenue        19.200000
 Name: 2, dtype: float64)

### Q5 : Compute Earnings YoY growth % and identify the best and worst YoY years.

In [10]:
mcd['earnings_g']=mcd['earnings'].pct_change() * 100
best = mcd.loc[mcd['earnings_g'].idxmax(), ['year','earnings_g','earnings']]
bad = mcd.loc[mcd['earnings_g'].idxmin(), ['year','earnings_g','earnings']]
best,bad

(year          2019.000000
 earnings_g      30.456026
 earnings         8.010000
 Name: 3, dtype: float64,
 year          2007.00000
 earnings_g     -41.95122
 earnings         3.57000
 Name: 15, dtype: float64)

### Q6 : Compute CAGR for Market Cap, Revenue, and Earnings over the full period.

#### 6.1. CAGR for Market_cap

In [11]:
years = mcd['year'].max() - mcd['year'].min()

In [12]:
cagr_mcap = ((mcd['market_cap'].iloc[-1] / mcd['market_cap'].iloc[0]) ** (1/years)-1) * 100
cagr_mcap

np.float64(-10.629976784137318)

#### 6.2. CAGR for Revenue

In [13]:
cagr_revenue = ((mcd['revenue'].iloc[-1] / mcd['revenue'].iloc[0]) ** (1/years)-1) * 100
cagr_revenue

np.float64(-2.0238511895778633)

#### 6.3. CAGR for Earnings

In [14]:
cagr_earn = ((mcd['earnings'].iloc[-1] / mcd['earnings'].iloc[0]) ** (1/years)-1) * 100
cagr_earn

np.float64(-7.456681928088349)

In [15]:
years = mcd["year"].max() - mcd["year"].min()    #Method2
cagr = pd.Series({
    "market_cap_cagr": (mcd["market_cap"].iloc[-1] / mcd["market_cap"].iloc[0]) ** (1/years) - 1,
    "revenue_cagr": (mcd["revenue"].iloc[-1] / mcd["revenue"].iloc[0]) ** (1/years) - 1,
    "earnings_cagr": (mcd["earnings"].iloc[-1] / mcd["earnings"].iloc[0]) ** (1/years) - 1,
}) * 100
cagr

market_cap_cagr   -10.629977
revenue_cagr       -2.023851
earnings_cagr      -7.456682
dtype: float64

### Q7 : Identify years where Revenue increased but Earnings decreased (margin pressure signal).

In [16]:
mcd[(mcd['revenue'].diff() > 0) & (mcd['earnings'].diff() < 0)][['year','earnings','revenue']]

    year  earnings  revenue
6   2016      6.86    24.62
7   2015      6.55    25.41
14  2008      6.15    23.52

### Q8 : Identify years where Earnings increased but Market Cap fell (valuation compression signal).

In [17]:
mcd[(mcd['market_cap'].diff() < 0) & (mcd['earnings'].diff() > 0)][['year','earnings','revenue','market_cap']]

    year  earnings  revenue  market_cap
3   2019      8.01    21.28      147.47
8   2014      7.37    27.44       90.22
16  2006      3.88    20.81       53.36

### Q9 : Compute Earnings Margin % (Earnings / Revenue * 100) and compare it with Operating Margin.

In [18]:
mcd['earning_margin_pct'] = (mcd['earnings'] / mcd['revenue']) * 100
mcd[['year','op_margin','earning_margin_pct']]

    year  op_margin  earning_margin_pct
0   2022      33.76           33.735979
1   2021      39.31           39.276486
2   2020      31.97           31.979167
3   2019      38.04           37.640977
4   2018      37.17           37.155090
5   2017      37.57           37.554777
6   2016      27.89           27.863526
7   2015      25.80           25.777253
8   2014      26.86           26.858601
9   2013      29.19           29.181495
10  2012      29.31           29.281567
11  2011      29.67           29.666667
12  2010      29.08           29.081845
13  2009      28.52           28.496042
14  2008      26.18           26.147959
15  2007      15.68           15.671642
16  2006      19.30           18.644882
17  2005      18.09           18.084066
18  2004      16.80           16.789087
19  2003      13.69           13.652275
20  2002      10.79           10.779221

### Q10 : Identify the year with the highest Operating Margin and the lowest Operating Margin.

In [19]:
mcd.loc[mcd['op_margin'].idxmax(), ['year','op_margin']]

year         2021.00
op_margin      39.31
Name: 1, dtype: float64

In [20]:
mcd.loc[mcd['op_margin'].idxmin(), ['year','op_margin']]

year         2002.00
op_margin      10.79
Name: 20, dtype: float64

### Q11 : Compare Operating Margin trend: is it improving, deteriorating, or volatile? (use slope / correlation with Year).

In [21]:
op_margin_trend = mcd['op_margin'].corr(mcd['year'])
op_margin_trend

np.float64(0.8985628951374874)

In [22]:
op_margin_trends = np.polyfit(mcd["year"], mcd["op_margin"], 1)[0]
op_margin_trends

np.float64(1.2100259740259762)

### Q12 : Compute EPS YoY growth and identify years of EPS decline.

In [23]:
mcd['eps_pct']=mcd['eps'].pct_change() * 100
eps_decline = mcd[mcd['eps_pct'].diff() < 0][['year','eps','eps_pct']]
eps_decline

    year   eps    eps_pct
2   2020  6.35 -37.190900
4   2018  7.65  -4.135338
5   2017  6.46 -15.555556
10  2012  5.42  -3.214286
12  2010  4.66 -12.734082
15  2007  2.01 -47.656250
17  2005  2.06 -28.472222
19  2003  1.16 -36.263736
20  2002  0.70 -39.655172

### Q13 : Check whether Shares Outstanding is stable or changing; compute YoY % change in shares.

In [24]:
mcd['shares_out_pct']=mcd['shares_out'].pct_change() * 100
mcd[['year','shares_out','shares_out_pct']]

    year  shares_out  shares_out_pct
0   2022        0.73             NaN
1   2021        0.74        1.369863
2   2020        0.74        0.000000
3   2019        0.74        0.000000
4   2018        0.76        2.702703
5   2017        0.79        3.947368
6   2016        0.81        2.531646
7   2015        0.90       11.111111
8   2014        0.96        6.666667
9   2013        0.99        3.125000
10  2012        1.00        1.010101
11  2011        1.02        2.000000
12  2010        1.05        2.941176
13  2009        1.10        4.761905
14  2008        1.11        0.909091
15  2007        1.18        6.306306
16  2006        1.23        4.237288
17  2005        1.25        1.626016
18  2004        1.25        0.000000
19  2003        1.27        1.600000
20  2002        1.27        0.000000

### Q14 : Identify whether EPS changes are driven more by Earnings changes or share count changes (decomposition style).

In [25]:
mcd['earnings_pct']=mcd['earnings'].pct_change() * 100
mcd[['year','shares_out_pct','earnings_pct','eps_pct']]

    year  shares_out_pct  earnings_pct    eps_pct
0   2022             NaN           NaN        NaN
1   2021        1.369863     16.624041  20.071259
2   2020        0.000000    -32.675439 -37.190900
3   2019        0.000000     30.456026  25.669291
4   2018        2.702703     -2.496879  -4.135338
5   2017        3.947368      9.731114 -15.555556
6   2016        2.531646    -19.953326 -14.396285
7   2015       11.111111     -4.518950 -11.754069
8   2014        6.666667     12.519084  -0.204918
9   2013        3.125000     11.261872  14.989733
10  2012        1.010101     -1.585366  -3.214286
11  2011        2.000000     -0.743494  -1.476015
12  2010        2.941176    -12.609238 -12.734082
13  2009        4.761905     -7.428571 -10.515021
14  2008        0.909091     -5.092593  -7.913669
15  2007        6.306306    -41.951220 -47.656250
16  2006        4.237288      8.683473  43.283582
17  2005        1.626016     -4.639175 -28.472222
18  2004        0.000000    -13.513514 -11.650485
19  2003        1.600000    -26.875000 -36.263736
20  2002        0.000000    -29.059829 -39.655172

### Q15 : Compute Market Cap / Revenue each year and compare with reported P/S ratio (consistency check).

In [26]:
mcd['ps_computed'] = (mcd['market_cap'] / mcd['revenue']).round(2)
mcd[['year','ps','ps_computed']]

    year    ps  ps_computed
0   2022  8.33         8.33
1   2021  8.63         8.63
2   2020  8.32         8.33
3   2019  6.93         6.93
4   2018  6.48         6.48
5   2017  6.01         6.01
6   2016  4.11         4.11
7   2015  4.22         4.22
8   2014  3.29         3.29
9   2013  3.42         3.42
10  2012  3.21         3.21
11  2011  3.80         3.80
12  2010  3.36         3.36
13  2009  2.96         2.96
14  2008  2.95         2.95
15  2007  2.98         2.98
16  2006  2.56         2.56
17  2005  2.08         2.08
18  2004  2.14         2.14
19  2003  1.83         1.83
20  2002  1.32         1.32

### Q16 : Compute Market Cap / Earnings each year and compare with reported P/E ratio (consistency check).

In [27]:
mcd['pe_computed'] = (mcd['market_cap'] / mcd['earnings']).round(2)
mcd[['year','pe','pe_computed']]

    year    pe  pe_computed
0   2022  31.3        24.68
1   2021  26.5        21.96
2   2020  33.8        26.04
3   2019  24.8        18.41
4   2018  23.2        17.44
5   2017  26.7        16.01
6   2016  22.0        14.73
7   2015  24.2        16.35
8   2014  19.2        12.24
9   2013  17.3        11.72
10  2012  16.3        10.96
11  2011  18.8        12.82
12  2010  16.5        11.55
13  2009  15.0        10.37
14  2008  16.2        11.27
15  2007  29.3        19.00
16  2006  15.4        13.75
17  2005  16.4        11.51
18  2004  17.6        12.72
19  2003  21.4        13.39
20  2002  23.0        12.28

### Q17 : Detect years where P/E is unusually high or low relative to the dataset average (valuation extremes).

In [28]:
mcd['pe_zscore'] = (mcd['pe'] - mcd['pe'].mean()) / mcd['pe'].std(ddof=0)

In [29]:
mcd.sort_values('pe_zscore',ascending=False)[['year','pe','pe_zscore']].head(3)

    year    pe  pe_zscore
2   2020  33.8   2.244299
0   2022  31.3   1.782056
15  2007  29.3   1.412262

In [30]:
mcd.sort_values('pe_zscore')[['year','pe','pe_zscore']].head(3)

    year    pe  pe_zscore
13  2009  15.0  -1.231767
16  2006  15.4  -1.157808
14  2008  16.2  -1.009890

### Q18 : Detect years where P/S is unusually high or low (growth vs value narrative).

In [31]:
mcd['ps_zscore'] = (mcd['ps'] - mcd['ps'].mean()) / mcd['ps'].std(ddof=0)

In [32]:
mcd.sort_values('ps_zscore',ascending=False)[['year','ps','ps_zscore']].head(3)

   year    ps  ps_zscore
1  2021  8.63   1.986760
0  2022  8.33   1.851153
2  2020  8.32   1.846633

In [33]:
mcd.sort_values('ps_zscore')[['year','ps','ps_zscore']].head(3)

    year    ps  ps_zscore
20  2002  1.32  -1.317547
19  2003  1.83  -1.087014
17  2005  2.08  -0.974008

### Q19 : Evaluate P/B ratio behavior; explain business meaning if Net Assets are negative (why P/B can be negative).

In [34]:
mcd[mcd['pb'] < 0][['year','pb','net_assets']]

   year    pb  net_assets
0  2022 -32.2       -6.01
1  2021 -43.5       -4.61
2  2020 -20.4       -7.83
3  2019 -18.0       -8.22
4  2018 -21.8       -6.26
5  2017 -42.0       -3.27
6  2016 -45.9       -2.21

### Q20. Identify years where Net Assets are negative and quantify how negative they are.

In [35]:
mcd[mcd['net_assets'] < 0][['year','net_assets']].assign(abs_neg=lambda x: x["net_assets"].abs()) #method1

   year  net_assets  abs_neg
0  2022       -6.01     6.01
1  2021       -4.61     4.61
2  2020       -7.83     7.83
3  2019       -8.22     8.22
4  2018       -6.26     6.26
5  2017       -3.27     3.27
6  2016       -2.21     2.21

In [36]:
mcd[mcd['net_assets'] < 0][['year','net_assets']] #method2

   year  net_assets
0  2022       -6.01
1  2021       -4.61
2  2020       -7.83
3  2019       -8.22
4  2018       -6.26
5  2017       -3.27
6  2016       -2.21

### Q21. Compute Debt-to-Assets ratio (Total debt / Total assets) and find the riskiest year.

In [37]:
mcd['da'] = (mcd['total_debt'] / mcd['total_assets'])
mcd.loc[mcd['da'].idxmax(), ['year','da','total_debt','total_assets']]

year            2019.000000
da                 0.986529
total_debt        46.870000
total_assets      47.510000
Name: 3, dtype: float64

### Q22. Compute Liabilities-to-Assets ratio (Total liabilities / Total assets) and find the riskiest year.

In [38]:
mcd['la'] = (mcd['liabilities'] / mcd['total_assets'])
mcd.loc[mcd['la'].idxmax(), ['year','la','liabilities','total_assets']]

year            2018.000000
la                 1.190491
liabilities       39.060000
total_assets      32.810000
Name: 4, dtype: float64

### Q23. Compute Net Debt proxy (Total debt  Cash on Hand) and identify the year with highest net debt.

In [39]:
mcd['net_debt_p'] = (mcd['total_debt'] - mcd['cash'])
mcd.loc[mcd['net_debt_p'].idxmax(), ['year','net_debt_p','total_debt','cash']]

year          2019.00
net_debt_p      45.98
total_debt      46.87
cash             0.89
Name: 3, dtype: float64

### Q24. Find years where Cash on Hand increased while Debt also increased (possible liquidity build / refinancing).

In [40]:
mcd[(mcd['cash'].diff() > 0) & (mcd['total_debt'].diff() > 0)][['year','earnings','revenue','market_cap','total_debt','cash']]

    year  earnings  revenue  market_cap  total_debt  cash
1   2021      9.12    23.22      200.31       48.64  4.70
17  2005      3.70    20.46       42.59       10.14  4.26

### Q25. Find years where Cash dropped but Debt increased (possible stress signal).

In [41]:
mcd[(mcd['cash'].diff() < 0) & (mcd['total_debt'].diff() > 0)][['year','earnings','revenue','market_cap','total_debt','cash']]

    year  earnings  revenue  market_cap  total_debt  cash
19  2003      2.34    17.14       31.33        9.73  0.49
20  2002      1.66    15.40       20.39        9.97  0.33

### Q26. Compute a simple liquidity indicator: Cash on Hand / Total Debt and rank years.

In [42]:
mcd['li'] = mcd['cash'] / mcd['total_debt']

In [43]:
mcd[['year','li']].sort_values('li',ascending=False)

    year        li
17  2005  0.420118
7   2015  0.318408
16  2006  0.252669
15  2007  0.212903
12  2010  0.206957
14  2008  0.201763
9   2013  0.197592
11  2011  0.186400
10  2012  0.170946
13  2009  0.169347
18  2004  0.148751
8   2014  0.138184
1   2021  0.096628
5   2017  0.083305
2   2020  0.070913
0   2022  0.053716
19  2003  0.050360
6   2016  0.047013
20  2002  0.033099
4   2018  0.027679
3   2019  0.018989

### Q27. Compute a balance sheet health indicator: Net Assets / Total Assets and rank years.

In [44]:
mcd['health'] = mcd['net_assets'] / mcd['total_assets']
mcd[['year','health']].sort_values('health',ascending=False)

    year    health
16  2006  0.532391
15  2007  0.519564
18  2004  0.510241
17  2005  0.505003
14  2008  0.470134
19  2003  0.469436
13  2009  0.464262
12  2010  0.457617
9   2013  0.436920
11  2011  0.436325
10  2012  0.432165
20  2002  0.428869
8   2014  0.374854
7   2015  0.186660
6   2016 -0.071244
1   2021 -0.086007
5   2017 -0.096746
0   2022 -0.119175
2   2020 -0.148803
3   2019 -0.173016
4   2018 -0.190795

### Q28. Identify the year with the highest Total Assets and analyze if it translated into higher Revenue/Earnings.

In [45]:
mcd.loc[mcd['total_assets'].idxmax(), ['year','revenue','earnings','total_assets']]

year            2021.00
revenue           23.22
earnings           9.12
total_assets      53.60
Name: 1, dtype: float64

### Q29. Identify if Revenue correlates more with Total Assets or with Market Cap (business scale vs market pricing).

In [46]:
cor_with_assets = mcd['revenue'].corr(mcd['total_assets'])
cor_with_mcap = mcd['revenue'].corr(mcd['market_cap'])
cor_with_assets, cor_with_mcap

(np.float64(0.1885530684396221), np.float64(0.2958141339758745))

### Q30. Identify if Market Cap correlates more with Earnings, Revenue, or Operating Margin (what drives valuation).

In [47]:
comp_cor = mcd[['earnings','revenue','op_margin']].corrwith(mcd['market_cap']).sort_values(ascending=False)
comp_cor

op_margin    0.876828
earnings     0.783590
revenue      0.295814
dtype: float64

### Q31. Assess whether dividend yield rises when Market Cap falls (common yield up when price down behavior).

In [48]:
mcd['div_mcap'] = mcd['divident_yield'].corr(mcd['market_cap'])
mcd[['year','market_cap','divident_yield','div_mcap']]

    year  market_cap  divident_yield  div_mcap
0   2022      193.01            2.15  0.098222
1   2021      200.31            1.96  0.098222
2   2020      159.88            2.35  0.098222
3   2019      147.47            2.39  0.098222
4   2018      136.21            2.36  0.098222
5   2017      137.21            2.23  0.098222
6   2016      101.08            2.97  0.098222
7   2015      107.12            2.91  0.098222
8   2014       90.22            3.50  0.098222
9   2013       96.09            3.22  0.098222
10  2012       88.44            3.25  0.098222
11  2011      102.65            2.52  0.098222
12  2010       80.87            2.94  0.098222
13  2009       67.22            3.28  0.098222
14  2008       69.31            2.61  0.098222
15  2007       67.84            2.55  0.098222
16  2006       53.36            2.26  0.098222
17  2005       42.59            1.99  0.098222
18  2004       40.71            1.72  0.098222
19  2003       31.33            1.61  0.098222
20  2002       20.39            1.46  0.098222

### Q32: Compute total dividend payout proxy: Dividend (stock split adjusted) * Shares Outstanding, and track its trend.

In [49]:
mcd['total_divident'] = mcd['divident_after'] * mcd['shares_out']
mcd[['year','divident_after','shares_out','total_divident','market_cap']]

    year  divident_after  shares_out  total_divident  market_cap
0   2022            5.66        0.73          4.1318      193.01
1   2021            5.25        0.74          3.8850      200.31
2   2020            5.04        0.74          3.7296      159.88
3   2019            4.73        0.74          3.5002      147.47
4   2018            4.19        0.76          3.1844      136.21
5   2017            3.83        0.79          3.0257      137.21
6   2016            3.61        0.81          2.9241      101.08
7   2015            3.44        0.90          3.0960      107.12
8   2014            3.28        0.96          3.1488       90.22
9   2013            3.12        0.99          3.0888       96.09
10  2012            2.87        1.00          2.8700       88.44
11  2011            2.53        1.02          2.5806      102.65
12  2010            2.26        1.05          2.3730       80.87
13  2009            2.05        1.10          2.2550       67.22
14  2008            1.62        1.11          1.7982       69.31
15  2007            1.50        1.18          1.7700       67.84
16  2006            1.00        1.23          1.2300       53.36
17  2005            0.67        1.25          0.8375       42.59
18  2004            0.55        1.25          0.6875       40.71
19  2003            0.40        1.27          0.5080       31.33
20  2002            0.24        1.27          0.3048       20.39

### Q33. Identify years where Dividend per share increased despite Earnings decline (sustainability risk).

In [50]:
mcd[(mcd['divident_after'].diff() > 0) & (mcd['earnings'].diff() < 0)][['year','earnings','revenue','market_cap','divident_after']]

Empty DataFrame
Columns: [year, earnings, revenue, market_cap, divident_after]
Index: []

### Q34. Identify payout pressure years: Dividend payout ratio = Dividend per share / EPS (flag > 1).

In [51]:
mcd['payout'] = mcd['divident_after'] / mcd['eps']
mcd[mcd['payout'].diff() > 1][['year','earnings','revenue','market_cap','divident_after','payout']]

Empty DataFrame
Columns: [year, earnings, revenue, market_cap, divident_after, payout]
Index: []

### Q35. Identify the year with the highest dividend yield and what else was happening (low price or high dividend).

In [52]:
mcd.loc[mcd['divident_yield'].idxmax(), ['year','earnings','divident_after','divident_yield','market_cap']]

year              2014.00
earnings             7.37
divident_after       3.28
divident_yield       3.50
market_cap          90.22
Name: 8, dtype: float64

### Q36. Check if the company is becoming more or less leveraged over time (Debt trend + ratios).

In [53]:
leverage_table = mcd[["year","total_debt","cash","net_debt_p","da","la"]]
leverage_table

    year  total_debt  cash  net_debt_p        da        la
0   2022       48.03  2.58       45.45  0.952409  1.118977
1   2021       48.64  4.70       43.94  0.907463  1.085821
2   2020       48.51  3.44       45.07  0.921893  1.148803
3   2019       46.87  0.89       45.98  0.986529  1.172806
4   2018       31.07  0.86       30.21  0.946967  1.190491
5   2017       29.53  2.46       27.07  0.873669  1.096746
6   2016       25.95  1.22       24.73  0.836557  1.070922
7   2015       24.12  7.68       16.44  0.635908  0.813340
8   2014       14.98  2.07       12.91  0.436989  0.624854
9   2013       14.12  2.79       11.33  0.385582  0.562807
10  2012       13.63  2.33       11.30  0.385246  0.567835
11  2011       12.50  2.33       10.17  0.379018  0.563675
12  2010       11.50  2.38        9.12  0.359712  0.542383
13  2009       10.57  1.79        8.78  0.349768  0.535738
14  2008       10.21  2.06        8.15  0.358749  0.529515
15  2007        9.30  1.98        7.32  0.316434  0.480095
16  2006        8.43  2.13        6.30  0.290489  0.467264
17  2005       10.14  4.26        5.88  0.338225  0.494997
18  2004        9.21  1.37        7.84  0.330938  0.489759
19  2003        9.73  0.49        9.24  0.381270  0.530564
20  2002        9.97  0.33        9.64  0.415937  0.570713

### Q37. Build a performance scorecard table by year with Revenue, Earnings, Operating Margin, EPS, Debt, Cash, Market Cap, and key ratios.

In [54]:
def label_year(row):
    labels = []
    if row["revenue_g"] > 5:
        labels.append("Growth")
    if row["op_margin"] > mcd["op_margin"].mean():
        labels.append("Margin_Strong")
    if row["net_debt_p"] < mcd["net_debt_p"].shift(1).fillna(row["net_debt_p"]):  
        labels.append("Deleveraging")
    if row["pe"] > mcd["pe"].mean():
        labels.append("Valuation_High")
    return " | ".join(labels) if labels else "Neutral"

mcd["narrative"] = mcd.apply(label_year, axis=1)
mcd[["year","narrative"]]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Q38. Identify the top 3 years to showcase to investors and justify using metrics (growth + profitability + balance sheet).

In [55]:
mcd['investor_score'] = (mcd['revenue_g'].fillna(0).rank(pct=True) * 0.35 +
                         mcd['op_margin'].rank(pct=True) * 0.35 +
                         (-mcd['net_debt_p']).rank(pct=True) * 0.30)
mcd.sort_values('investor_score',ascending=False)[['year','investor_score','revenue_g','op_margin','net_debt_p']].head(3)

    year  investor_score  revenue_g  op_margin  net_debt_p
5   2017        0.735714   8.563273      37.57       27.07
3   2019        0.697619  10.833333      38.04       45.98
14  2008        0.659524   3.430079      26.18        8.15

### Q39. Identify the top 3 risk years and justify using leverage + margin + cash indicators.

In [56]:
mcd['risk_score'] = (mcd['da'].fillna(0).rank(pct=True) * 0.4 +
                         (-mcd['op_margin']).rank(pct=True) * 0.3 +
                         (-mcd['li']).rank(pct=True) * 0.3)
mcd.sort_values('risk_score',ascending=False)[['year','risk_score','da','op_margin','li']].head(3)

    year  risk_score        da  op_margin        li
20  2002    0.800000  0.415937      10.79  0.033099
3   2019    0.728571  0.986529      38.04  0.018989
6   2016    0.714286  0.836557      27.89  0.047013

### Q40. If you were an analyst, which single KPI would you prioritize to explain Market Cap movements (choose based on strongest correlation and stability).

In [57]:
kpi_candidates = ["earnings","revenue","op_margin","eps","pe","ps","total_debt","net_debt_p"]
kpi_corr = mcd[kpi_candidates].corrwith(mcd["market_cap"]).sort_values(ascending=False)
kpi_corr

ps            0.974274
eps           0.955863
total_debt    0.919580
net_debt_p    0.901133
op_margin     0.876828
earnings      0.783590
pe            0.644517
revenue       0.295814
dtype: float64